<div id="overlay"></div>
<h1>Hi <%= @user['username']  %></h1>

<h1>Pick 6 photos and share them!</h1>
<div id="container">
	<% @fav_photos.each do |photo|%>
		<div class="photo-container-div"><img class="selectable-image" id="<%=photo['id']%>" src="<%=photo['image_url']%>"><div class="order-div"></div></div>
	<% end %>
</div>